
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #818181;
    background-color: #F1F1F6;
    }
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: black;   
    background-color: #BE9FE1;
    text-transform: uppercase;
    text-align: center;  
    border-style: solid; 
    }
  
  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;    
    background-color: #C9B6E4;
    text-transform: uppercase;
    text-align: center;     
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
   }
  
   h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;    
    background-color: #E1CCEC;
    text-transform: uppercase;
    text-align: center;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    margin-right: 0.5em;
  
   }

  
   nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
     margin : 0.5em;
     font-size: 1.5em;
     background-color: #F1F1F6;
     color:black;
   }

   main,section,aside,article,footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;    
    background-color: #F1F1F6;   
}
  
   a {
     padding: 0.7em;
   }
  
   a:link{
    color: blue;
    background-color: #F1F1F6;
    
  }
  
  a:visited{
    color: blueviolet;
    background-color: #F1F1F6;
  }
   
   p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #F1F1F6;
    font-size: 1.20em;
    text-align: start;  
    line-height: 1.5; 
    margin: 1.5%;
   }
  
   
   table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #EAFFD0;
    font-size: 1.20em;

   }
  
   caption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #F1F1F6;
    font-size: 1.20em;
    padding: 1em;
    margin : 0.5em;
   }
  
   tr,td,th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color:#BE9FE1;
   }
  
   ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color:#F1F1F6;
    font-size: 1.20em;
   }
  
   li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color:#F1F1F6;
   }
  
   img,video,audio{
      display: block;
      margin: auto;
      border:solid;
   }
  
   form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #F1F1F6;
    font-size: 1.20em;
   }
   
   fieldset{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #dec9f7;
    margin-top: 2em;
   }
  
   legend{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #dec9f7;
    border: 0.1em solid;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
  
   }
  
   input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #F1F1F6;
    margin-bottom: 0.8em;
    font-size: 1.20em;
   }


    form>input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #F1F1F6;
    margin: 1em;
    padding: 0.2em;
    font-size: 1em;
   }
  
   label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #dec9f7;
  
   }

   footer>p {
       font-style: italic;
       background-color: rgb(206, 152, 219);
       color:black
   }
  
  
  
   
  
   
  
   
  
  
  