body {
    display: grid;
    grid-template-areas: 
                         'head head' 
                         'main text' 
                         'main text'
                         'foot foot';
    grid-gap: 0.5em;
    grid-template-rows: 18.75em 1fr 1.875em;
    grid-template-columns: 37.5em 1fr;
}

header {
    grid-area: head;
    
}

aside {
    grid-area: text;
}

main {
    grid-area: main;
    text-align: justify;
}

footer {
    grid-area: foot;
    text-align: left;
}

