body {
    display: grid;
    grid-template-areas: 
                         'head head' 
                         'main multi' 
                         'main multi'
                         'foot foot';
    grid-template-columns: 1fr 750px;
}

header {
    grid-area: head;
}

main {
    grid-area: main;
    text-align: justify;
    margin-right: 10px;
}

aside {
    grid-area: multi;
}

footer {
    grid-area: foot;
}

