body {
    display: grid;
    grid-template-areas: 
                         'head head' 
                         'main text' 
                         'main text'
                         'foot foot';
    grid-gap: 10px;
    grid-template-rows: 300px 1fr 30px;
    grid-template-columns: 600px 1fr;
}

header {
    grid-area: head;
    
}

aside {
    grid-area: text;
}

main {
    grid-area: main;
    text-align: justify;
    margin-right: 10px;
}

footer {
    grid-area: foot;
    margin-top: 10px;
    text-align: left;
}

