body {
    display: grid;
    grid-template-areas: 
                         'head head' 
                         'sec multi' 
                         'sec multi'
                         'foot foot';
    grid-template-columns: 1fr 43em;
}

header {
    grid-area: head;
}

section {
    grid-area: sec;
    text-align: justify;
    margin-right: 0.1em;
}

aside {
    grid-area: multi;
}

footer {
    grid-area: foot;
}

