body {
    display: grid;
    grid-template-areas: 
                         'head head' 
                         'main multi' 
                         'main multi'
                         'foot foot';
    grid-gap: 10px;
    grid-template-rows: 300px 1fr 30px;
    grid-template-columns: 900px 1fr;
}

header {
    grid-area: head;
}

aside {
    margin-top: 20%;
    grid-area: multi;
}

main {
    grid-area: main;
    text-align: justify;
    margin-right: 10px;
}

footer {
    grid-area: foot;
    margin-top: 10px;
   
}

