body {
    display: grid;
    grid-template-areas: 
                         'head'
                         'main '
                         'foot ';
}

header {
    grid-area: head;
    
}

main {
    grid-area: main;
    text-align: justify;
}

footer {
    grid-area: foot;
}